
@import './variables.scss';

@import './auth.scss';
@import './job.scss';
@import './talent.scss';



@import './navbar.scss';
@import './sidebar.scss';
@import './form.scss';
@import './modal.scss';



// @import './variables.scss';


body{
    // background-color: $tertiary-color;
}

img{
    object-fit: cover;
}
button{
    padding: 16px 25px;
    border-radius: 50px;
    background-image: $gradient2;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    &.btnDisabled,&:disabled{
        background-color: #ededed;
        background-image: initial;
        color: grey;
        // cursor:none;
    }
}
.dashboardPageWrapper{
    min-height: 100vh;
    background-color: #f3f4f6;
    .dpw-content{
        width: calc(100% - $sidebarWidth);
        margin-left: auto;
        // padding: 25px 0;
        h1{
            margin: 25px auto;
            color: $primary-color;
            text-align: center;
        }
    }
}
ul,li{
    // padding: 0;
    // margin: 0;
    margin-left: 10px;
}

.sectionSpinner{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    svg{
        font-size: 50px;
    }
    img{
        width: 150px;
        height: 150px;
    }
}
.fullPageSpinner{
    height: 100vh;
    width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    svg{
        font-size: 80px;
        color: $primary-color;
    }
}

.dontHaveDataCreateOne{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px 0;
}

.dataNotFoundBackToHome{
    width: 80%;
    margin: 25px auto;
    text-align: center;
    button{
        margin: 15px auto;
    }
}

select{
    padding: 15px 20px;
    border-radius: 8px;
}