
@import './variables.scss';

@import './auth.scss';
@import './job.scss';
@import './applys.scss';


@import './talent.scss';
@import './dashboard.scss';




@import './navbar.scss';
@import './form.scss';
@import './modal.scss';
@import './others.scss';




// @import './variables.scss';


body{
    // background-color: $tertiary-color;
}

img{
    object-fit: cover;
}
button{
    padding: 16px 25px;
    border-radius: 50px;
    background-image: $gradient2;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    &.btnDisabled,&:disabled{
        background-color: #ededed !important;
        background-image: initial !important;
        color: grey !important;
        // cursor:none;
    }
}
.dashboardPageWrapper{
    min-height: 100vh;
    background-color: #f3f4f6;
   
    .dpw-content{
        margin-left: auto;
        transition: all .5s;
        // padding: 25px 0;
        h1{
            margin: 25px auto;
            color: $primary-color;
            text-align: center;
        }
    }
}
ul,li{
    // padding: 0;
    // margin: 0;
    margin-left: 10px;
}

.sectionSpinner{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    svg{
        font-size: 50px;
    }
    img{
        width: 150px;
        height: 150px;
    }
}
.fullPageSpinner{
    height: 100vh;
    width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    svg{
        font-size: 80px;
        color: $primary-color;
    }
}

.dontHaveDataCreateOne{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px 0;
}

.dataNotFoundBackToHome{
    // width: 80%;
    // background-color: gray;
    width: 250px;
    margin: 25px auto;
    text-align: center;
    button{
        margin: 15px auto;
    }
}

select{
    padding: 15px 20px;
    border-radius: 8px;
}

.alertBox{
    width: 100%;
    background-color: rgba($color: $secondary-color, $alpha: 0.4);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 15px;

    section{
        align-items: center;
        gap: 0 15px;
        h3{
            color: $secondary-color;
        }
        svg{
            font-size: 30px;
            color: $secondary-color;
        }
    }
    p{
        margin-top: 10px;
    }
    a{
        color: $primary-color;
        font-weight: bold;
    }
}