.createOrUpdateJob{
    width: 80%;
    margin: auto;
    padding: 15px 0 50px 0;

    form{
        background-color: white;
        padding: 25px;
        border-radius: 8px;
    }
}


.jobList{
    width: 80%;
    margin: auto;
}
.jobCard{
    width: 100%;
    border: solid 1px #ededed;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 10px auto;
    cursor: pointer;
    transition: all .5s;
    background-color: white;

    &:hover{
        background-color: rgba($color: $primary-color, $alpha: 0.1);
        // color: white;
    }
    .jc-img{
        width: 10%;
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        img{
            width: 100%;
            border-radius: 10px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            border: solid 5px $primary-color;
        }
        span{
            font-size: 10px;
        }
    }
    
    .jc-infos{
        width: 70%;
        b{
            display: inline-block;
            margin: 6px 0;
        }
        div{
            gap: 10px;
            span{
                font-size: 18px;
                display: flex;
                align-items: center;
                gap: 0 5px;
                color: $grey-secondary;
            }
        }
    }
    .js-actionAndDate{
        width: 15%;
        text-align: center;
        gap: 5px 0;
        button{
            padding: 6px 10px;
        }
    }
    .js-actionAndDate2{
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 10px;
        a{
            margin: auto;
            color: $secondary-color;
            font-weight: bold;
        }
    }
}


.jobDetails{
    width: 90%;
    margin: auto;
    padding: 0 0 50px 0;
    h2{
        font-size: 30px;
        color: $primary-color;
        margin-bottom: 15px;
    }
    .jd-header{
        padding: 50px 25px;
        border-radius: 0 0 20px 20px;
        background-color: $primary-color;
        color: white;
        h1{
            font-size: 50px;
            text-align: left !important;
            color: white !important;
        }
        b{
            // font-size: 20px;
        }
        &>div{
            margin-top: 20px;
            gap: 0 15px;
            align-items: center;
            a{
                font-weight: bold;
                font-size: 20px;
            }
            img{
                width: 100px;
                height: 100px;
                border-radius: 100%;
            }
        }
    }
    .jd-aditionalInfos1{
        margin: 25px 0;
        gap: 15px 0;
       li{
        font-size: 18px;
       }
    }
    .jd-aditionalInfos2{
        gap: 10px 0;
        p{
            display: flex;
            align-items: center;
            gap: 0 5px;
            b{
                font-size: 18px;
            }
        }
    }
}



.searchJobForm{
    margin: 25px auto;
    form{
        flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-evenly;
    }
}

@media screen and (min-width: 572px) and (max-width: 758px) {
   
}
@media screen and (max-width: 972px) {
    .jobCard{
        gap: 20px 0;
        .jc-img{
            width: 50%;
            margin: auto;
        }
        
        .jc-infos{
            width: 100%;
           text-align: center;
        }
        .js-actionAndDate{
            width: 100%;
        }
    }
}
@media screen and (max-width: 572px) {
   
}