.sidebar{
    position: fixed;
    top: 0;
    height: 100%;
    padding: 5px 0 25px 0;
    // background-color: $tertiary-color;
    // background-image: $gradient3;
    background-color: white;
    border-right: solid 4px #efefef;
    width: $sidebarWidth;
    &>div{
        width: 90%;
        margin: 25px auto;
    }
    .sidebar-logo{
        text-align: center;
    }
    .sidebar-links{
        gap: 15px 0;
        a{
            display: flex;
            align-items: center;
            gap: 0 14px;
            border-radius: 8px;
            padding: 15px;
            
            transition: all .5s;
            // color: white;
            svg{
                color: $grey-secondary;
                font-size: 24px;
            }
            span{
                font-size: 18px;
            }
            &:hover{
                background: $primary-color;
                    color: white !important;
                    svg{
                        color: white;
                    }
            }
        }
    }
    .sidebar-logout{
        cursor: pointer;
        margin-top: auto;
        align-items: center;
        gap: 0 5px;
        padding-left: 15px;
    }
}