.talentCard{
    width: 250px;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px 0;
    text-align: center;
     border: solid 1px #dedede;
     background-color: white;
    img{
        width: 90px;
        height: 90px;
        border-radius: 100%;
    }
p{
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
    section{
        display: flex;
        gap: 0 20px;
        a{
            background: $gradient2;
            font-size: 25px;
            color: white;
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
            
            }
        }
    }
}


.talentProfil{
    h1{
       text-align: left !important; 
       margin: initial !important;
    }
    .tpBanner{
        height: 30vh;
        width: 100%;
        background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 6px,rgba(255,255,255, 0.05) 6px, rgba(255,255,255, 0.05) 13px,transparent 13px, transparent 16px,rgba(255,255,255, 0.05) 16px, rgba(255,255,255, 0.05) 29px,transparent 29px, transparent 40px,rgba(255,255,255, 0.05) 40px, rgba(255,255,255, 0.05) 50px),repeating-radial-gradient(circle at center center, rgb(138,35,135) 0px, rgb(138,35,135) 13px,rgb(138,35,135) 13px, rgb(138,35,135) 14px,rgb(138,35,135) 14px, rgb(138,35,135) 15px,rgb(138,35,135) 15px, rgb(138,35,135) 25px,rgb(138,35,135) 25px, rgb(138,35,135) 37px,rgb(138,35,135) 37px, rgb(138,35,135) 42px); background-size: 53px 53px;
    }
    .tpBannerOverlay{
        background-color: white;
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 40px 20px;
        border-radius: 30px;
        width: 85%;
        margin: -20vh auto auto auto;
        display: flex;
        justify-content: center;
        gap: 50px;
        z-index: 1111111111;
        .tbo-image{
            // background-color: 
            align-items: center;
            justify-content: center;
            width: 25%;
            gap: 20px 0;
            img{
                width: 200px;
                height: 200px;
                border-radius: 100%;
                // display: block; 
                // aspect-ratio: 1/1;
            }
            p{
                text-align: center;
               
                svg{
                    color: $secondary-color;
                }
            }
        }
        .tbo-data{
            width: 60%;
            gap: 25px 0;
            b{
                display: inline-block;
                margin-bottom: 10px;
                font-size: 14px;
                color: grey;
            }
           
            p{
                display: flex;
                flex-direction: column;
                gap: 0 0;
            }
            .tbod-top{
                gap:  0 15px;
                align-items: center;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border: solid 2px $primary-color;
                    color: $primary-color;
                    border-radius: 50px;
                }
            }
            .tbod-middle{
                gap: 0 55px;
                span{
                    font-size: 25px;
                }
            }
            .tbod-bottom{
                div{
                    flex-wrap: wrap;
                gap: 10px;
                }
                b{
                    margin-bottom: 15px;
                }
                span{
                    border-radius: 20px;
                    padding: 8px 16px;
                    background-color: rgba($color: $primary-color, $alpha: 0.1);
                }
            }
        }
    }
    .tpOtherDatas{
        gap: 25px 0;
        width: 85%;
        margin: 50px auto;
        h2{
            color: $primary-color;
            margin-bottom: 25px;
        }
        section{
            &>p{
                margin-bottom: 15px;
                span{
                    padding: 5px;
                    background-color: $secondary-color;
                    color: white;
                    border-radius: 10px;
                    margin: 5px;
                }
            }
        }
    }
    
}
.formationOrExpCard{
    margin: 10px 0;
}

.talentList{
    width: 90%;
    margin: auto;
    .tl-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

.searchOrFilterTalent{
    form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 25px 0;
    }
}


@media screen and (max-width: 758px) {
    .talentProfil{
        .tpBanner{
          
        }
        .tpBannerOverlay{
            flex-direction: column;
            justify-content: center;
            .tbo-image{
                width: 100%;
            
            }
            .tbo-data{
                width: 100%;
            }
        }
        .tpOtherDatas{

        }
        
    }
}